h1 {
    color: $primary-dark-blue;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;
    text-align: center;
}

p {
    color: $primary-light-blue;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.9rem;
    text-align: center;
}